#auth{
	color:black;
	font-family: tahoma;
	font-size: 120%
}
h1 {
	color: black;
	font-family: tahoma;
	font-size: 120%
}
h2 {
	color: black;
	font-family: tahoma;
	font-size: 100%
}
body {
	background-color:#EEE8AA;
}
p {
	color: black;
	font-family: tahoma;
	font-size: 80%
}
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: green;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
}
a:active {
  color: yellow;
  text-decoration: none;
}